html{
    /* background-color: rgb(247, 239, 244); */
    /* opacity:10; */
    /* background-image: url("https://wallpapercave.com/wp/wp3369520.jpg"); */
}

.landing{
    /* background-color: rgb(230, 110, 110); */
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.loginBtn{
    background-color: black;
}

/* .personIcon{
    margin-right: 5px;
    margin-top: 15px;
} */
/* .centerIt{
    justify-content: center;
    align-items: center;
} */

/* ul{
    justify-content: center;
    align-items: center;
} */