.landing{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.loginBtn{
    background-color: black;
}
.fonts{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.wlcm{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    font-style: normal;
    margin-left: 200px;
}

.registerDesign{
    border-radius: 30px;
    margin-top: 40px;
    width: 500px;
    margin-left: 400px;
    height: 550px;
    border: 2px solid black;
}
.loginStyle{
    margin-left: 400px;
    border-radius: 30px;
    margin-top: 40px;
    height: 500px;
    width: 500px;
    border: 2px solid black;

}

.names{
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 15px;
    margin-left: 150px;
}

.register{
    margin-top: 10px;
    font-size: x-large;
}
.space{
    margin-bottom: 30px;
    margin-left: 20px;
}
